.Key{
    color: whitesmoke;
    background-color: grey;
    height: 100px;
    min-width: 60px;
    width: fit-content;
    border-radius: 8px;
    margin: 6px;
    font-size: 30px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .Key{
        color: whitesmoke;
        background-color: grey;
        height: 50px;
        min-width: 25px;
        width: fit-content;
        border-radius: 8px;
        margin: 3px;
        font-size: 15px;
    }
}

.defaultKey{
    background-color: grey;
}

.green{
    background-color: rgb(109, 206, 109);
}

.yellow{
    background-color: rgb(207, 207, 62);
}

.dark{
    background-color: rgb(65, 64, 64);
}