.Cell{
    margin: 8px;
    border: 6px solid darkslategray;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
.default{
    background-color: rgb(93, 126, 235);
}

.green{
    background-color: rgb(109, 206, 109);
}

.yellow{
    background-color: rgb(207, 207, 62);
}

.dark{
    background-color: rgb(65, 64, 64);
}