.KeyRow{
    display: flex;
    justify-content: center;
}
.BigButton{
    color: whitesmoke;
    background-color: grey;
    height: 100px;
    width: 150px;
    border-radius: 8px;
    margin: 6px;
    font-size: 30px;

}