.KeyRow{
    display: flex;
    justify-content: center;
}


/* @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .BigButton{
        color: whitesmoke;
        background-color: grey;
        height: 50px;
        min-width: 100px;
        width: fit-content;
        border-radius: 8px;
        margin: 1px;
        font-size: 10px;
    }
} */